body{
    text-align: center;
}

h1{
    height: 120px;
    margin-top: 20px;
}

hr{
    width : 85%;
}

input{
    width: 70%;
    height: 35px;
    margin : 0 15% 0 15%;
}
ins{
    text-decoration-color: #cccccc;
    text-decoration-thickness: 2px;
}

.lists{
    display: flex; 
    justify-content: center;
    gap: 300px;
}

.todo-section, .done-section{
    width: 250px;
}


p{
    display: flex;
    justify-content :space-between;
    align-items: center;
    border-bottom: 2px solid  #cccccc;
    
    
}


button{
    background-color: rgb(211, 242, 255);
    border: none;
    cursor: pointer;
}