*{
    box-sizing: border-box;
}
.container:nth-of-type(1){
    display: grid;
    grid-template-areas: "header menu";
    grid-template-columns:100px 400px ;
    grid-template-rows: 50px
}
.container:nth-of-type(2){
    display: grid;
    grid-template-areas: "hero";
    grid-template-columns: 500px;
    grid-template-rows: 200px
}
.container:nth-of-type(3){
    display: grid;
    grid-template-areas: 
        "main gap image"
        "main gap extra";
    grid-template-columns: 250px 125px 125px;
    grid-template-rows: 100px 100px;
}
.container:nth-of-type(4){
    display: grid;
    grid-template-areas: "banner";
    grid-template-columns: 500px;
    grid-template-rows: 100px
}
.header{
    grid-area: header;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    grid-area: menu;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    grid-area: hero;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    grid-area: main;
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    grid-area: image;
    background-color: skyblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.extra{
    grid-area: extra;
    background-color: yellowgreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    grid-area: banner;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
