body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  background-color: rgb(250, 250, 250);
}

.container {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  background-color: white;
}

header {
  height: 60px;

  display: flex;
  align-items: center;
  font-weight: bold;

  img {
    width: 50px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  flex: 1;

  img {
    width: 300px;
    border-radius: 20px;
  }
}

.imgBox {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

.imgBox::before {
  position: absolute;
  border-radius: 20px;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);

  content: ""
}

.imgBox > img {
  z-index: 1;
  border-radius: 10px;
}

.textBox {
  text-align: center;
  width: 300px;

  h1 {
    color: rgb(255, 213, 0);
  }

  h5 {
    color: rgb(0, 149, 255);
  }

  p {
    font-size: 13px;
  }
}

footer {
  text-align: center;
  font-size: 15px;
}