@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

footer {
  text-align: center;
}
