body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250,250,250);

    width: 100%;
}

.container {
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;

    background-color: white;
    box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;

    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;

    display: flex;
    align-items: center;

    font-weight: bold;
}

/* 포켓볼 사진 */
.header > img {
    width: 50px;
    height: 40px;
}

.header > a {
    color: black;
    text-decoration: none;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 250px;
        margin: 20px;
        border-radius: 20px;
    }
}

.text {
    text-align: center;
}

.text__title {
    color: rgb(255, 208, 0);
    font-size: 30px;
    font-weight: bold;
}

.text__subTitle {
    font-size: 18px;
}

.text__name {
    color: rgb(0, 145, 255);
}

.text__info {
    width: 350px;
    font-size: 14px;
}

.cover-img {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.cover-img::before {
    position: absolute;
    border-radius: 20px;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

    content: ""
}

.cover-img > img {
    z-index: 1;
    border-radius: 10px;
}

footer {
    text-align: center;
}