.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid gray;
}
a{
    text-decoration: none;
    color: black;
}