
.header{
    
}
.flexBoxR{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexBoxC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
Button{
    border: none;
    border-radius: 10%;
}
Button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.taskList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.taskBox{
    width: 150px;
    text-align: start;
}