.container {
    display: flex;
    width: 100%;
}

.card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    align-items: center;
    border-radius: 10%;
}

.card__image{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10%;
}


.card__title {
    font-weight: bold;
    font-size: 30px;
    color: blueviolet;
}

.card__description {
    font-size: medium;
    color: green;

}

.card__button--purple {
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    border: none;
}   