*{
  margin : 0 auto;
  box-sizing : border-box;
}

#Container{
  width : 100vw;
  height : 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #ebf9f5;
}

header{
  width : 80%;
  height : 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #AAAAAA;
}
header h1{
  font-size: 40px;
}

main{
  width : 80%;
  height : 70%;
  
}
main form{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main input {
  width: 80%;
  height: 90%;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline-color: skyblue;
}
main input::placeholder {
  color: #abb4bd;
  font-style: italic;
}


.TodoBoxContainer{
  width: 90%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

.TodoBox{
  width: 40%;
  height: 90%;
  /* border : 2px solid #AAAAAA; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.TodoBox ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-left: 0; 
  margin: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.TodoBox span{
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #AAAAAA;
  margin-bottom: 20px;
}

.TodoItem{
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid #AAAAAA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#ebf9f5
}

.TodoItem button{
  width: 50px;
  height: 30px;
  font-size: 14px;
  border: none;
  background-color: grey;
  cursor: pointer;
  margin: 0
}