* {
    margin: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-size: 23px;
    color: white;
}

nav {
    height: 10vh;
    display: flex;

    .header {
        width: 20%;
        background-color: #0F1629;
        padding: 20px;
    }

    .menu {
        width: 80%;
        background-color: #ED3D4F;
        padding: 20px;
    }
}


.hero {
    height: 40vh;
    background-color: #4C86C4;
    padding: 20px;
}

section {
    display: flex;
    height: 40vh;

    .main {
        width: 50%;
        background-color: #23344B;
    }

    .container {
        display: grid;
        width: 50%;
        grid-template-areas: 
            ". image"
            ". extra";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        color: black;
    }
}

.image {
    grid-area: image;
    background-color: #C2E4E7;
}

.extra {
    grid-area: extra;
    background-color: #4EBC97;
}

footer {
    height: 10vh;
    background-color: #FFD16B;
    color: black;
    padding: 20px;
}