
body {
    background-color: rgb(240, 244, 255);
}
.title, header, main, .main__lists {
    display: grid;
    place-items: center;
}

.main__lists {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.main__lists--todolist, .main__lists--donelist {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container {
    height: 100%;
    width: 100%;
}

.header__title {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 35px;
    font-weight: bold;
}

input {
    width: 500px;
    height: 30px;
    margin-bottom: 30px;
    border-color: black;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 200px;
}

li {
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.listcontent {
    flex-grow: 1; 
    text-align: left; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

button {
    flex-shrink: 0; 
    width: 40px;
    height: auto;
    margin-left: 10px;
}

main {
    padding-top: 50px;
}
hr {
    width: 80%;
    color: #ddd
}
