body{
  margin : 10vh 10vw;
  box-sizing : border-box;
}

.originBox{
  position: absolute;
  width : 200px;
  height : 200px;
  border: 1px solid black;
}

.box {
  position: absolute;
  width : 200px;
  height : 200px;
  transform: matrix(1.1,1,-1,1.05,30,20);
  border: 1px solid black;
}