
        nav {
            padding: 20px;
        }

        img {
            height: 28.33px;
            width: 40px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .buttons {
            display: flex;
            gap: 10px; 
        }

        .button {
            background-color: transparent;
            border: none;
            font-size: 14px;
            padding: 0 10px; 
        }

        .logo {
            display: flex;
        }

        p {
            margin-left: 10px;
            font-size: large;
        }

        @media screen and (max-width: 800px) {
            .button {
                font-size: 10px;
            }

            .buttons {
                gap: calc(7vw); 
            }

            p {
                display: none; 
            }
        }
