*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header>h1{
  margin: 50px;
}

hr{
  width : 85%;
  margin: 20px;
}

input{
  width: 70%;
  height: 35px;
  margin : 0 15% 20px 15%;
}
ins{
  text-decoration-color: #cccccc;
  text-decoration-thickness: 2px;
}

.lists{
  display: flex; 
  justify-content: center;
  gap: 300px;
}

.todo-section, .done-section{
  width: 250px;
}


#todo-list, #done-list{
  display: flex;
  flex-direction: column-reverse;
  justify-content :space-between;
  padding: 10px;

  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  
  
}

.listItem{
  display: flex;
  justify-content :space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid  #cccccc;
   
}
.listItem span{
  display: inline-block;
  max-width: 80%;
  
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  
}


button{
  width: 40px;
  height: 20px;
  background-color: rgb(211, 242, 255);
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}
button:hover{
  background-color: rgb(105, 210, 255);
}
