* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header {
  width: 80%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputTodo {
  width: 40%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}
#inputTodo::placeholder {
  font-style: italic;
}

.contentContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.contentContainer > div {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.todoList, .doneList {
  width: 160px;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.todo, .done {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.todo > p, .done > p {
  width: 96px;
  font-weight: bold;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#complete, #delete {
  background-color: lightblue;
  border: none;
  padding: 2px;
  cursor: pointer;
}
#complete:hover, #delete:hover {
  padding: 0;
}

.borderBottom {
  border-bottom: solid lightblue 2px;
}